.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .speedtest-results .result-section {
    display: inline-block;
    vertical-align: top;
}
