.popup-content {
  width: 500px !important;
}

.remove-email-popup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remove-email-popup .popup-text {
  display: inline-block;
  width: 250px;
  height: 100px;
  margin: 10px;
  text-align: left;
}

.add-email-popup .popup-right {
  display: inline-block;
}

.remove-email-popup .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.remove-email-popup .form .textfield {
  width: 200px;
}
