.notification-popup {
  display: flex;
  flex-direction: row;
}

.notification-popup .popup-text {
  width: 250px;
  height: 150px;
}

.notification-popup .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-popup .form .textfield {
  width: 200px;
}
